<?xml version="1.0" encoding="UTF-8" standalone="no"?><MeteoInfo File="config.xml" Type="configurefile"><Path OpenPath="D:\Temp\GrADS"/><Font><TextFont FontName="宋体" FontSize="16"/><LegendFont FontName="Dialog.plain" FontSize="12"/></Font><ScriptLanguage Language="Jython"/><Startup MainFormLocation="182,84" MainFormSize="1000,650" ShowMeteoDataDlg="true"/></MeteoInfo>