<?xml version="1.0" encoding="UTF-8" standalone="no"?><MeteoInfo File="config.xml" Type="configurefile"><Path OpenPath="D:\Working\MIScript\Jython\chart"/><Font><TextFont FontName="宋体" FontSize="15"/><LegendFont FontName="宋体" FontSize="12"/></Font><ScriptLanguage Language="Jython"/><Startup MainFormLocation="115,41" MainFormSize="1000,634" ShowMeteoDataDlg="false"/></MeteoInfo>